###############################################################################
# Python
###############################################################################
__pycache__/
*.py[cod]
*.pyo
###############################################################################
# Virtual environments
###############################################################################
.venv/
venv/
###############################################################################
# Deployment artifacts
###############################################################################
*.zip
###############################################################################
# Generated
###############################################################################
requirements.txt
wheels/
build-info.txt
###############################################################################
# IDE
###############################################################################
.idea/
.vscode/
